$colorPrimary: #000000;
$colorSecondary: #000000;
$colorSupport: #000000;
$colorText: #4d4d4d;
$colorTextHover: #0b0b0b;
$colorWhite: #ffffff;
$colorBlack: #1f1a15;
$colorGray: #bcbcbc;
$fontDefault: 'Source Sans Pro', sans-serif;
$fontSupport: 'Oswald', sans-serif;
$transition: all ease 0.3s;
